<div class="tableFixHead">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col-2">Subject</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of currentMsgList; let index = index"
        (click)="navi(item.folder, item._id)"
        [ngClass]="{ active: item._id == currentId }"
      >
        <td>{{ item.from }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.date }}</td>
      </tr>
    </tbody>
  </table>
</div>
